services:
  lint:
    image: buildkite/plugin-linter
    command: ["--id", "cultureamp/ecs-task-runner"]
    volumes:
      - ".:/plugin:ro"

  tests:
    image: buildkite/plugin-tester:v4.0.0
    volumes:
      - ".:/plugin"
  build:
    build:
      context: src
      dockerfile: Dockerfile
      args:
        - GONOPROXY
        - GOPRIVATE
        - GOPROXY
